beautifulsoup4
certifi
chardet
et-xmlfile
idna
jdcal
lml
lxml
numpy
openpyxl
pandas
pyexcel
pyexcel-io
pyexcel-xls
pyexcel-xlsx
python-dateutil
pytz
requests
six
soupsieve
texttable
ukcensusapi
urllib3
xlrd
xlwt
